[submodule "soci"]
	path = soci
	url = https://github.com/SOCI/soci.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "cereal"]
	path = cereal
	url = https://github.com/USCiLab/cereal.git
